.header{
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
        background-color: rgb(255, 255, 255);
        left: 0;
        border-radius: 1px;
        right: 0;
        height: 75px;
        border-color: #0097b2;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 500;
}
.left-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 230px;
        margin-right: 30px;

}  
.menu{
        width: 50px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
    
}
.menu-checkbox{
        position: absolute;
        opacity: 0;
        pointer-events: none;
    
}
#menu-checkbox:checked ~ aside
.sidebar{
        transform: translateX(0);
        transition: transform 0.3s ease;
}
.left-section a {
  text-decoration: none;
}
.logo{
        color: rgb(224, 222, 231);
        padding-left: 0px;
        margin-bottom: 0px;
        margin-top: 10px;
        cursor: pointer;
        width: 180px;
}
.logo:hover{
        color: white;
        transition: 0.3s;
}
nav{
        display: flex;
        flex: 2;
        flex-direction: row;
        align-items: center;
        width: 100%;
}
.right-section{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
}
.sök-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        padding: 5px 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
        border-radius: 30px;
        margin-right: 30px;
}
@media (max-width: 899px) {
    .left-section{
        margin: 0;
    }
    .logo{
        width: 150px;
        margin-bottom: 5px;
    }
    .right-section{
        margin-right: 5px;
    }
    .sök-container{ 
        box-shadow: none;
        background: none;
        margin: 5px 0px 0px 0px;
    }
    .sökikon {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .search-button{
        width: 50px;
        height: 50px;
    }
    .sök {
        display: none;
    }
    .logga-in-text{
        display: none;
    }
    .logga-in{
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        border-radius: 50%;
        justify-content: center;
        margin-bottom: 5px;
        margin-right: 10px;
        
    }
    .logga-in .lock {
        margin: 0;
        width: 22px;
        height: 22px;
    }
}
.sök{
        flex: 1;   
        width: 400px;
        height: 35px;
        border-radius: 25px;
        border: none;
        padding-left: 15px;
        font-size: 16px;
        outline: none;
        font-family: italic, arial;
        color: rgba(0, 0, 0, 0.5);
}
.search-button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        flex: nowrap;
}
.sökikon{
        width: 25px;
        height: 25px;
        cursor: pointer;
}
.sökikon:hover{
        transform: scale(1.2);
        transition: 0.3s;
}
.logga-in{
        background-color: rgb(255, 111, 0);
        border: none;
        padding: 10px 12px;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;
        color: #ffffff;
        margin-top: 5px;
        flex-wrap: nowrap;
}
.logga-in:hover{
        background-color: #0097b2;
        transition: 0.3s;
}
.logga-in:active{
        background-color: #0097b2;
        opacity: 0.7;
        transition: 0.3s;
}
.lock{
        width: 15px;
        height: 15px;
        margin-right: 5px;
}