main{
    display: flex;
    justify-content: center;
}
.inlogg-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid rgb(208, 199, 199);;
}
.logo, h1{
    width: 150px;
    margin: 0;
}
.logga-in-titel{
    font-weight: bold;
    color: black;
}
.logga-in-text{
    margin-bottom: 25px;
    color: rgb(159, 153, 153);
}
.apple-inlogg, .logga-in-google{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; 
    white-space: nowrap;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 10px 120px 10px 100px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.10);
    margin-right: 20px;
    cursor: pointer;
    background-color: rgb(245, 247, 248);
    transition: 0.15s ease;
}
.apple-inlogg:hover, .logga-in-google:hover{
    cursor: pointer;
}
.apple-inlogg:active, .logga-in-google:active{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    opacity: 0.8;

}
.logga-in-val{
    width: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.eller-rad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}
.eller-rad hr{
    flex: 1;
    border: none;
    border-top: 1px solid grey;
}
.epost-책terst채ll-container{
    display: flex;
    justify-content: space-between;
}
.책terst채ll{
    text-decoration: underline;
    cursor: pointer;
}
.epost-ruta{
    font-size: 17px;
    padding: 10px 70px 10px 10px;
    border-radius: 5px;
    border-top: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 5px;
    outline: none;
    border: none;
}
.epost-inlogg{
    padding: 10px 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,111,0);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    transition: 0.15s;
    cursor: pointer;
}
.epost-inlogg:hover{
    background-color: #0097b2;
}
.epost-inlogg:active{
    opacity: 0.7;
}
.skapa-konto{
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width: 700px) {
    .inlogg-container{
        border: none;
    }
}