.grid-system{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    row-gap: 30px;
    column-gap: 15px;
    
}
.om-oss-titel{
    font-weight: bold;
    font-size: 20px;
    text-decoration: solid, underline;
    cursor: pointer;
    border-bottom: 1px solid rgb(78, 77, 77);
    background-color:  rgb(235, 226, 226);
} 
.info-child, P{
    font-family: roboto, arial;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.om-oss-titel, .info-child{
    background-color: rgb(241, 236, 236);
    border-radius: 2px;
    
}

@media (max-width: 700px) {
  .grid-system {
      grid-template-columns: 1fr;
      row-gap: 25px;
  }
}
